modules = ["web", "deno-2"]
run = "deno task start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd Website && deno run -A main.ts"]

[workflows]
runButton = "Start website"

[[workflows.workflow]]
name = "Start website"
author = 40125466

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Website && deno task start"

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3000

[[ports]]
localPort = 8002
externalPort = 3001
